/* About.css */

.aboutContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.aboutTitle {
  text-align: center;
}

hr {
  margin-top: 10px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #ccc;
}

.imageContainer {
  text-align: center;
  margin-bottom: 20px;
}

.aboutImage {
  max-width: 100%;
  height: auto;
}

.aboutTextContainer {
  margin-bottom: 20px;
}

.aboutContent {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 15px;
}
