/* contact.css */
.contactContainer {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
  }
  
  .contactForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .contactForm label,
  .contactForm textarea,
  .contactForm input {
    margin: 20px 0;
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  .contactForm button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  .contactForm button:hover {
    background-color: #45a049;
  }
  